<%= form_for(bookmark) do |f| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label(:title, 'Title:') %>
  <%= f.text_field(:title) %>

  <%= f.label(:url, 'URL:') %>
  <%= f.text_field(:url) %>

  <%= f.label(:shortening, 'Shortening:') %>
  <%= f.text_field(:shortening) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
