<%= form_for(bookmark, html: {role: 'form'} ) do |f| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h3><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h3>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label(:title, 'Title:') %>
    <%= f.text_field(:title, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label(:url, 'URL:') %>
    <%= f.text_field(:url, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label(:shortening, 'Shortening:') %>
    <%= f.text_field(:shortening, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= f.label(:tag_list, 'Tags:') %>
    <%= f.text_area(:tag_list, class: 'form-control') %>
  </div>

  <hr class="my-4">

  <%= f.submit(class: 'btn btn-primary pull-right') %>
<% end %>
