<p id="notice"><%= notice %></p>

<h4><%= @bookmark.title %></h4>

<div class="controls">
  <p class="form-control-static"><%= link_to @bookmark.url, @bookmark.url %></p>
  <p class="form-control-static"><%= @bookmark.shortening %></p>
</div>

<div class="well well-sm">
  <%= concat_tag_list(@bookmark.tag_list) %><br>
</div>

<%= link_to 'Back', bookmarks_path %>
<%= link_to 'Edit', edit_bookmark_path(@bookmark), class: 'btn btn-primary pull-right' %>
